* {
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
}
body {
    background-color: rgb(148, 178, 214);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header {
    background-color: rgb(8, 8, 138);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Altezza fissa */
    display: flex;
    align-items: center;
    justify-content: center;}
#logo {
    height: 80px;
}
#title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#titleHeader {
    font-family: "Courier Prime", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    text-shadow: 2px 2px #000000;
}
#description {
    text-align: center;
    width: 75%;
}
#news {        
    font-size: 30px;
}
#news-description {
    font-family: "Courier Prime", monospace;
    font-weight: 300;
    font-style: normal;
    font-style: normal;
    font-size: 20px;
}
#news-container {
    font-family: "Courier Prime", monospace;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
    padding-top: 20px;
    width: 75%;
}
.advanced {
    padding-top: 20px;
}
#news-item {
    background-color: rgba(255, 255, 255, 0.381);
    border: solid 2px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center;
}
#anchor {
    font-family: "Courier Prime", monospace;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(148, 178, 214);
    text-decoration: none;
    color: black;
    border: solid 2px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}
#anchor:hover {
    background-color: rgb(8, 8, 138);
    color: white;
}  
#anchor:active {
    background-color: rgb(158, 158, 158);
    transition: 0.2s;
} 
#news-date {
    text-align: center;
}
#load-more-btn {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    justify-content: center;
    align-items: center;
    float: center;
    border: 2px solid black;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    transition-duration: 0.5s;
    background-color: rgb(146, 170, 207);

}
#load-more-btn:hover {
    background-color: rgb(8, 8, 138);
    color: white;
}  
#load-more-btn:active {
    background-color: rgb(158, 158, 158);
    transition: 0.2s;
}  
#footer {
    background-color: rgb(8, 8, 138);
    color: white;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px; /* Altezza fissa */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px; /* Aggiunto padding per allineare il contenuto */
}
@media only screen and (min-width: 961px) {
    body {
        font-size: 2rem;
    }
   
    #load-more-btn {
        font-size: 1rem;
    }

    footer {
        font-size: 1.5rem;
    }

    #news-container {
        font-size: 1.5rem;
        padding: 10px;
    }
  }
  
  /* tablet e telefoni */
  @media only screen and (min-width: 481px) and (max-width: 960px) {
    body, footer {
        float: center;
        justify-content: center;
        text-align: center;
        font-size: 1.25rem;
        width: 100%;
        height: 100%;
    }
    #news-container {
        float: center;
        justify-content: center;
        text-align: center;
        font-size: 1.25rem;
        padding: 10px;
    }
  }

  /*telefoni piccoli tipo iphone se*/
@media only screen and (max-width: 480px) {
    body, footer {
        font-size: 90%;
        width: 100%;
        height: 85%;
    }
    #header {
        background-color: rgb(8, 8, 138);
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px; /* Altezza fissa */
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px; /* Aggiunto padding per allineare il contenuto */
    }
    #logo {
        height: 80px; /* Ridotto l'altezza del logo */
    }
    .title-wrapper {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-grow: 1; /* Fai espandere il wrapper per riempire lo spazio rimanente */
    }
    #titleHeader {
        margin: 0;
        font-size: 14px; /* Ridotto il font size per adattarsi alla dimensione */
    }
    #news {        
        font-size: 30px;
    }
    #news-description {
        font-size: 20px;
        padding: 0 10px;
    }
    #description {
        width: 95%;
        padding: 0 10px;
    }
    #news-container {
        width: 95%;
        padding: 0 10px;   
    }
}